.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; }
  
  .sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto; }
  
  :root {
    --primary: #00d679;
    --secondary: #010101;
    --heading: #232527;
    --para: #777;
    --bg-light: #f8f9fa;
    --card-curve: 6px; }
  
  html {
    scroll-behavior: smooth; }
  
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif; }
  
  .clear {
    clear: both; }
  
  .noscroll {
    min-height: 100vh;
    overflow: hidden; }

  .colorw {
    color: #eee!important;
  }
  
  button,
  input,
  select {
    -webkit-appearance: none;
    outline: none;
    font-family: 'Nunito', sans-serif; }
  
  button,
  .btn,
  select {
    cursor: pointer;
    font-family: 'Nunito', sans-serif; }
  
  a,
  a:hover {
    text-decoration: none; }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  li {
    font-family: 'Nunito', sans-serif;
    margin: 0; }
  h1 {
    color: #00d679;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 17px;
    line-height: 26px;
    color: var(--para);
    margin: 0; }
  
  input,
  textarea,
  button {
    font-family: 'Nunito', sans-serif !important; }
  
  img {
    border-radius: 8px; }
  
  .btn-primary {
    background-color: #00b063; }
  
  .btn-style {
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 30px;
    outline: none;
    font-weight: 700; }
  
  h3.main-title-w3 {
    font-size: 45px;
    line-height: 50px;
    font-weight: 700;
    color: var(--heading); }

  .navbar-dark .navbar-brand {
    font-size: 35px;
    font-weight: 700;
    color: var(--primary); }
  
  @media (max-width: 992px) {
    h3.main-title-w3 {
      font-size: 40px;
      line-height: 45px; } }
  
  @media (max-width: 737px) {
    h3.main-title-w3 {
      font-size: 35px;
      line-height: 40px; } }
  
  @media (max-width: 480px) {
    h3.main-title-w3 {
      font-size: 35px;
      line-height: 40px; } }
  
  @media (max-width: 415px) {
    h3.main-title-w3 {
      font-size: 33px;
      line-height: 37px; } }
  
  @media (max-width: 384px) {
    h3.main-title-w3 {
      font-size: 28px;
      line-height: 33px; }
    .navbar-dark .navbar-brand {
      font-size: 31px; } }

  li.active a.nav-link {
    padding-right: 0;
    padding-left: 0; }
  
  .navbar-dark .navbar-brand:hover {
    color: var(--primary); }

  .navbar-nav {
      align-items: center;
  }
  
  a.navbar-brand span.fa {
    font-size: 40px; }
  
  .dropdown-toggle::after {
    vertical-align: middle !important; }
  
  .dropdown-item {
    color: #333;
    font-size: 17px;
    line-height: 26px;
    padding: 0.25rem 1rem; }
  
  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    background-color: none !important; }

  li.nav-item {
      margin: 2rem 0;
  }
  
  @media screen and (max-width: 991px) {
    .navbar-collapse {
      background: #1f242ccf;
      padding: 20px 20px;
      z-index: 10;
      height: 100vh;
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      -moz-backdrop-filter: blur(2px);
      transition: .3s ease; }
    .navbar-dark .navbar-toggler {
      border-color: var(--primary) !important;
      background: #161a1f;
      padding: 6px 10px;
      outline: none; } }
  
  @media screen and (max-width: 600px) {
    .navbar {
      padding: 0rem 0rem !important; } }
  
  @media screen and (max-width: 600px) {
    .navbar {
      padding: 0rem 0rem !important; }
    .inner-banner {
      height: 85px; } }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box; }
  
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 10;
    background: var(--secondary); }
  
  .navbar-dark .navbar-nav .show > .nav-link,
  .navbar-dark .navbar-nav .active > .nav-link,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary); }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #eee;
    font-weight: 700; }
  
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: var(--primary); }
  
  .header.inner-header {
    position: static;
    padding-top: 15px;
    padding-bottom: 15px; }
  
  .header__logo {
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: -1px; }
  
  .header__logo span {
    display: inline-block;
    transform: translateY(4px) rotate(180deg);
    pointer-events: none; }
  
  .header__menu {
    margin-left: auto; }
  
  .header__menu__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
  
  .header__menu__link {
    margin-left: 30px;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize; }
  
  @media (max-width: 1200px) {
    .navbar-dark .navbar-toggler-icon {
      background-image: none;
      color: #fff;
      font-size: 14px;
      padding-top: 3px; }
    .header .navbar-toggler {
      padding: 6px 10px;
      font-size: 16px;
      background-color: var(--primary);
      border: none; } }
  
  .main-banner {
    position: relative; }

    .navbar-brand span {
      color: aliceblue;
  }

  .fa-whatsapp {
    font-size: 25px;
  }

    .main-banner h3.banner-text {
        font-weight: 700;
        font-size: 65px;
        line-height: 80px;
        color: #ffffff; }
      
      .main-banner .banner-info p {
        font-size: 20px;
        font-weight: 400;
        color: #ffffff;
        display: inline-block;
        line-height: 32px;
        max-width: 750px; }
      
      .main-banner .banner-view {
        background: url(../images/mainimage.jpg) no-repeat right;
        background-size: cover;
        min-height: 500px;
        z-index: 0;
        display: grid;
        align-items: center;
        position: relative; }

        .banner-view:before {
          content:'';
          position: absolute;
                top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0,0,0,0.6);
        }

        .banner-info.container {
          z-index: 1;
          text-align: center;
      }
      
      @media (max-width: 992px) {
        .main-banner h3.gallery4-head {
          font-size: 30px;
          line-height: 37px; }
        .main-banner h3.banner-text {
          font-size: 60px;
          line-height: 75px; }
        .main-banner .banner-top-inner-page {
          min-height: 180px; } }
      
      @media (max-width: 900px) {
        .main-banner h3.banner-text {
          font-size: 55px;
          line-height: 70px; }
        .main-banner .banner-top-inner-page {
          min-height: 150px; } }
      
      @media (max-width: 600px) {
        .main-banner h3.gallery4-head {
          margin-bottom: 20px; }
        .main-banner .banner-view {
          min-height: 550px; } }
      
      @media (max-width: 569px) {
        .main-banner h3.gallery4-head {
          font-size: 26px;
          line-height: 34px; }
        .main-banner h3.banner-text {
          font-size: 45px;
          line-height: 55px; }
        .main-banner .banner-top-inner-page {
          min-height: 120px; } }
      
      @media (max-width: 440px) {
        .main-banner h3.banner-text {
          font-size: 40px;
          line-height: 50px; } }

  /*--/content with photo5--*/

  .w3l-content-photo-5 {
    background-color: #161a1f;
    margin-top: -6px;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #00b063;
    border-color: #00a35c;
  }
  .btn-primary {
    color: #fff;
    background-color: #00d679;
    border-color: #00d679;
  }
  .w3l-content-photo-5 .content-left {
    align-self: center; }
  .w3l-content-photo-5 .content-photo img {
    background: #eee; }
  .w3l-content-photo-5 .content-left h3 {
    font-size: 35px;
    line-height: 45px;
    color: var(--heading);
    font-weight: 700; }
  .w3l-content-photo-5 .content-left p {
    font-size: 17px;
    line-height: 26px;
    color: var(--para);
    margin-top: 25px; }
  .w3l-content-photo-5 .content-left a span {
    margin-left: 8px; }
  @media (max-width: 1080px) {
    .w3l-content-photo-5 .content-left h3 {
      font-size: 32px;
      line-height: 40px; } }
  @media (max-width: 736px) {
    .w3l-content-photo-5 .content-left h3 {
      font-size: 28px;
      line-height: 35px; } }
  @media (max-width: 480px) {
    .w3l-content-photo-5 .content-left {
      order: 2; }
    .w3l-content-photo-5 .content-photo {
      order: 1; } }
  @media (max-width: 400px) {
    .w3l-content-photo-5 .content-left h3 {
      font-size: 24px;
      line-height: 30px; } }

/*--//content with photo5--*/

  #movetop {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    font-size: 25px;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    -o-border-image: initial;
    border-image: initial;
    outline: none;
    padding: 0px;
    border-radius: 50%;
    opacity: .8;
    transition: all 20.5s ease-out 20s;
    background-color: var(--primary); }

  /*-- //services --*/
/*-- w3l-services-block --*/
.z-index-3 {
  z-index: 3;
}

.w3l-services-block {
  background: #f8f9fa; }

.w3l-services-block h3 {
  color: #fff; }

h2.my-3 {
    text-align: center;
}

.w3_head {
  text-align: center;
  color: var(--heading);
  margin: 0 0 1em;
  font-size: 2.5em;
  letter-spacing: 2px;
  text-transform: capitalize; }

.agileits_w3l-services-block_grids {
  margin: 0em 0 3em; }

.agileits_w3l-services-block_grid {
  padding: 2em;
  border: 1px solid #999;
  border-left: 3px solid #999;
  text-align: left;
  border-right: none;
  background: #fff;
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  -ms-transition: .5s ease-in; }

.agileits_w3l-services-block_grid h5 {
  font-size: 1.5em;
  color: #000;
  margin: 0em 0 .5em;
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  -ms-transition: .5s ease-in; }

.agileits_w3l-services-block_grid p {
  color: var(--para);
  line-height: 2em;
  font-size: 16px; }

.service_grid_btm_left1 {
  transition: all 300ms ease-in-out;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  position: relative; }

.service_grid_btm_left1:before {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid var(--primary);
  border-right: 2px solid var(--primary); }

.service_grid_btm_left1:after, .service_grid_btm_left1:before {
  content: '';
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
  transition: all 800ms ease-in-out;
  border-radius: 8px; }

.service_grid_btm_left1:after {
  top: 0;
  left: 0;
  border-top: 2px solid var(--primary);
  border-left: 2px solid var(--primary); }

.service_grid_btm_left1:hover:after, .service_grid_btm_left1:hover:before {
  width: 100%;
  height: 100%;
  visibility: visible; }

.service_grid_btm_left2 h5 {
  margin: 0em 0 .5em;
  color: var(--heading);
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: capitalize;
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all; }

.service_grid_btm_left2 p {
  color: var(--para);
  font-size: 17px;
  line-height: 26px;
  margin: 0; }

.service_grid_btm_left2 {
  padding: 2em 1em;
  border: none;
  background: #fff;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }

.service_grid_btm_left1:hover {
  cursor: default; }

.service_grid_btm_left img {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }

.service_grid_btm_left1:hover .service_grid_btm_left2 i {
  color: var(--primary);
  border-color: #252525;
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all; }

.service_grid_btm_left2 span.fa {
  display: inline-block;
  font-size: 30px;
  margin-bottom: 30px;
  color: var(--primary); }

@media (max-width: 1024px) {
  .service_grid_btm_left2 h5 {
    font-size: 22px; } }

/*-- quote --*/
.w3l-quote-main .quote {
  background: url(../images/g5.jpg) 0px 0px;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

.w3l-quote-main .quote:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); }

.w3l-quote-main .quote h4 {
  font-size: 33px;
  color: #eee;
  line-height: 42px;
  font-weight: 700;
  text-align: center; }

.w3l-quote-main .quote img {
  background: #fff;
  border-radius: 50%;
  width: 120px; }

.w3l-quote-main .quote h5 {
  text-transform: capitalize;
  color: #ccc;
  font-size: 20px; }

.w3l-quote-main .quote h6 {
  color: #fff;
  font-size: 25px;
  font-weight: 700; }

@media (max-width: 1024px) {
  .w3l-quote-main .quote h4 {
    font-size: 28px;
    line-height: 35px; } }

@media (max-width: 992px) {
  .w3l-quote-main .tablet-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 30px; }
  .w3l-quote-main .tablet-grid img {
    width: 100px; }
  .w3l-quote-main .quote h6 {
    margin-top: 0px; } }

@media (max-width: 737px) {
  .w3l-quote-main .quote h4 {
    font-size: 25px;
    line-height: 33px; } }

@media (max-width: 400px) {
  .w3l-quote-main .quote h4 {
    font-size: 23px;
    line-height: 30px; }
  .w3l-quote-main .tablet-grid {
    grid-gap: 20px; } }

/*-- quote --*/

/*-- mid --*/
.w3l-grid-quote {
  text-align: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.67)), url(../images/g6.jpg);
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right; }

section.w3l-grid-quote h6 {
  color: #fff;
  font-size: 18px;
  line-height: 26px; }

section.w3l-grid-quote h3 {
  color: #fff;
  font-size: 2.5em;
  margin: 0.5em 0 1em;
  font-weight: 700; }

@media (max-width: 737px) {
  section.w3l-grid-quote h3 {
    font-size: 2em; } }

@media (max-width: 415px) {
  section.w3l-grid-quote h3 {
    font-size: 1.8em; } }

/*-- mid --*/


.w3l-open-block-services h4.mission {
  color: var(--heading);
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 25px; }

.w3l-open-block-services h3.head-title {
  color: var(--heading);
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
  margin-bottom: 55px;
  text-align: center; }

.w3l-open-block-services .open-description a {
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  color: var(--primary); }

.w3l-open-block-services .open-description a:hover {
  color: #fff; }

.w3l-open-block-services .open-description p {
  color: var(--para);
  font-size: 17px;
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 20px; }

.w3l-open-block-services .icon-holder span.fa {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  transition: all 0.3s ease;
  border-radius: 100%;
  color: #fff;
  font-size: 26px; }

.w3l-open-block-services .card {
  padding: 40px 25px;
  position: relative;
  background: rgba(41, 161, 156, 0.1);
  border: none;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  border-radius: 8px; }

.w3l-open-block-services .card:hover {
  background: #1f242c;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s; }

.w3l-open-block-services .card:hover h4.mission {
  color: #fff; }

.w3l-open-block-services .card:hover .open-description p {
  color: #ccc; }

.w3l-open-block-services .card .icon-holder {
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  background: var(--primary);
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  transition: all 0.3s ease;
  border-radius: 100%;
  color: #fff;
  font-size: 26px;
  margin: 0 auto; }

@media (max-width: 991px) {
  .w3l-open-block-services h3.head-title {
    font-size: 35px;
    line-height: 40px; } }

  .w3l-footers-1 .d-grid {
    display: grid; }
  .w3l-footers-1 .grid-columns-2 {
    grid-template-columns: 2.5fr 1fr;
    grid-column-gap: 20px; }
  .w3l-footers-1 .align-right {
    text-align: right; }
  .w3l-footers-1 .footer {
    position: relative;
    background-color: var(--secondary);
    height: 6rem; }
  .w3l-footers-1 .footer-left p {
    font-size: 16px;
    line-height: 26px;
    color: #aaa; }
  .w3l-footers-1 .footer-left p a {
    color: #ccc; }
  
  @media (max-width: 992px) {
    .w3l-footers-1 .footer-content {
      text-align: center; } }
  @media (max-width: 737px) {
    .w3l-footers-1 ul.social li {
      margin-left: 0px;
      margin: 0 7px; } }
  @media (max-width: 480px) {
    .w3l-footers-1 .footer-right {
      margin-top: 5px; } }
  @media (max-width: 415px) {
    .w3l-footers-1 .footer-left,
    .w3l-footers-1 .footer-right {
      text-align: center; }
    .w3l-footers-1 .grid-columns-2 {
      grid-template-columns: 1fr;
      grid-row-gap: 20px; } }

    .list-group-item {
      border: 1px solid rgb(138 138 138 / 13%);
      background: transparent;
      color: aliceblue;
  }